<h1 class="title" style="margin-bottom: 1em;">Cart</h1>
<div class="row">
  <form action="" method="post">
    {{# each products }}
      <ul class="list-group">
        <li class="list-group-item" style="display:flex;justify-content:space-between;align-items:center;">
          <div style="display:flex;align-items:center;">
            <img src="{{ this.img_path }}" alt="{{ this.title }}" style="width: 60px; height: 80px;">
            <p style="margin-left:10px;">{{this.title}}</p>
          </div>
          <div>
            <p>${{this.price}}</p>
            <div style="display:flex;align-items:center;">
              <p>Quantity:</p>
              <span style="margin-left:10px;" class="badge badge-primary badge-pill">1</span>
            </div>
          </div>
          <a href="/cart/remove-to-cart/{{this.id}}" class="badge badge-primary badge-pill">X</a>
        </li>
        <input type="hidden" value="{{this.id}}">
      </ul>
    {{/each}}

    <p>Total: ${{totalPrice}}</p>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="submit" class="btn btn-success" value="Checkout">


  </form>
</div>
